
@{
    ViewData["Title"] = "Home Page";
}
<dvi class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>If you would like to creat a profile, <a href="https://localhost:7005/Home/Registration"> CLICK HERE</a>.</p>


    <p>Would you like to see menu and place an order?  <a href="https://localhost:7005/Home/ProductIndex"> CLICK HERE</a>.</p>
    </dvi>
