@*home page on web site 
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
<dvi class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>If you would like to creat a profile, <a href="https://localhost:7005/Home/Registration"> CLICK HERE</a>.</p>
    </dvi>
