@model User

<!DOCTYPE html>
<html lang="en" style="background-color: moccasin; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

        <h1 style="font-size: 4rem; text-align:center; color: rgb(226, 35, 35); ; background-color: moccasin"> Welcome to the CoffeeShop!</h1>
    <h1 style="text-align:center; color: rgb(171, 235, 219); ; background-color: gray">Click on our items below to order!</h1>
    <h2 style="text-align:center; color: rgb(222, 243, 28); ; background-color: #13120b"</h2>
     <p1>
      
<body>
          
        <img height="5rem" src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fget.pxhere.com%2Fphoto%2Fcafe-coffee-shop-coffee-morning-cup-saucer-beverage-drink-espresso-coffee-cup-caffeine-hot-americano-turkish-coffee-white-cup-ristretto-drinkware-873403.jpg&imgrefurl=https%3A%2F%2Fpxhere.com%2Fen%2Fphoto%2F873403&tbnid=smS1OJdTJVC0XM&vet=10CFYQMyiDAWoXChMI0LC-mcmR_QIVAAAAAB0AAAAAEBY..i&docid=cctbnpSUoKofaM&w=2500&h=1667&q=coffee%20shop%20images&hl=en&ved=0CFYQMyiDAWoXChMI0LC-mcmR_QIVAAAAAB0AAAAAEBY" alt="The CoffeeShop">
       
    
        <p></p>
</body>

<p> We offer:</p>

   <p>Water</p>
   <p>Coffee<p> 
   <p>Hot Chocolate</p>
   <p></p>
   <p></p>
   <p>****THE BASICS ARE THE BEST***</p> 
   <p></p>
    <p></p>
    <p></p>
     

       
</html>

     